In [24]:
import pandas as pd
weatherStations = pd.read_csv("weather-stations20140101-20141231.csv")
weatherStations.head()

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD,Stn_No
0,CHEMAINUS,48.935,-123.742,BC,8.2,0.0,NaN,13.5,0.0,1.0,...,0.0,NaN,0.0,12.0,NaN,NaN,NaN,273.3,0.0,1011500
1,COWICHAN LAKE FORESTRY,48.824,-124.133,BC,7.0,0.0,3.0,15.0,0.0,-3.0,...,0.0,104.0,0.0,12.0,NaN,NaN,NaN,307.0,0.0,1012040
2,LAKE COWICHAN,48.829,-124.052,BC,6.8,13.0,2.8,16.0,9.0,-2.5,...,9.0,NaN,NaN,11.0,NaN,NaN,NaN,168.1,0.0,1012055
3,DISCOVERY ISLAND,48.425,-123.226,BC,NaN,NaN,NaN,12.5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1012475
4,DUNCAN KELVIN CREEK,48.735,-123.728,BC,7.7,2.0,3.4,14.5,2.0,-1.0,...,2.0,NaN,NaN,11.0,NaN,NaN,NaN,267.7,0.0,1012573

In [26]:
#Print the contents of the directory
import os
with os.scandir("./data/samples") as directoryContents:
    for content in directoryContents:
        print(content.name)

iris
weather
airline
olympic-medals
osb

In [27]:
import os
with os.scandir("./data/samples/iris") as directoryContents:
    for content in directoryContents:
        print(content.name)

iris.csv

In [35]:
# Scanning or walking down a directory tree and printing the names of the directories and files
import os
for dirpath, dirnames, files in os.walk('./data'):
    print(f'Found directory: {dirpath}')
    for file_name in files:
        print(file_name)

Found directory: ./data
Found directory: ./data/samples
Found directory: ./data/samples/iris
iris.csv
Found directory: ./data/samples/weather
weather-stations20140101-20141231.csv
Found directory: ./data/samples/airline
2008.csv.bz2
Found directory: ./data/samples/olympic-medals
medals.csv
Found directory: ./data/samples/osb
board.csv
license.txt
school.csv

In [8]:
import pandas
weatherStationsDataFrame = pandas.read_csv('weather-stations20140101-20141231.csv')
weatherStationsDataFrame.tail()

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD,Stn_No
1336,NAIN A,56.550,-61.683,NL,-22.6,0.0,-5.2,-6.8,0.0,-33.5,...,0.0,66.0,74.0,5.0,NaN,NaN,NaN,1136.5,0.0,8502800
1337,NAIN A,56.551,-61.682,NL,-19.2,24.0,NaN,-7.5,17.0,NaN,...,17.0,NaN,NaN,4.0,NaN,NaN,NaN,148.7,0.0,8502801
1338,SAGLEK,58.333,-62.586,NL,-24.4,2.0,NaN,-13.5,1.0,-32.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101.2,0.0,8503249
1339,TUKIALIK BAY,54.716,-58.358,NL,-22.8,2.0,NaN,-5.8,1.0,-32.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1060.0,0.0,8503992
1340,WABUSH A,52.923,-66.865,NL,-27.7,0.0,NaN,-13.6,0.0,-46.8,...,0.0,NaN,NaN,2.0,NaN,NaN,NaN,1279.9,0.0,8504177

In [35]:
# Scanning or walking down a directory tree and printing the names of the directories and files
import os
for dirpath, dirnames, files in os.walk('./data'):
    print(f'Found directory: {dirpath}')
    for file_name in files:
        print(file_name)

Found directory: ./data
Found directory: ./data/samples
Found directory: ./data/samples/iris
iris.csv
Found directory: ./data/samples/weather
weather-stations20140101-20141231.csv
Found directory: ./data/samples/airline
2008.csv.bz2
Found directory: ./data/samples/olympic-medals
medals.csv
Found directory: ./data/samples/osb
board.csv
license.txt
school.csv

In [35]:
# Scanning or walking down a directory tree and printing the names of the directories and files
import os
for dirpath, dirnames, files in os.walk('./data'):
    print(f'Found directory: {dirpath}')
    for file_name in files:
        print(file_name)

Found directory: ./data
Found directory: ./data/samples
Found directory: ./data/samples/iris
iris.csv
Found directory: ./data/samples/weather
weather-stations20140101-20141231.csv
Found directory: ./data/samples/airline
2008.csv.bz2
Found directory: ./data/samples/olympic-medals
medals.csv
Found directory: ./data/samples/osb
board.csv
license.txt
school.csv

In [16]:
#Utilize Pandas library to instantiate DataFrame
import pandas
weatherStationsDataFrame = pandas.read_csv('weather-stations20140101-20141231.csv')

In [17]:
#Print the column headings in the data frame
weatherStationsDataFrame.columns

Index(['Stn_Name', 'Lat', 'Long', 'Prov', 'Tm', 'DwTm', 'D', 'Tx', 'DwTx',
       'Tn', 'DwTn', 'S', 'DwS', 'S%N', 'P', 'DwP', 'P%N', 'S_G', 'Pd', 'BS',
       'DwBS', 'BS%', 'HDD', 'CDD', 'Stn_No'],
      dtype='object')

In [18]:
#Print the data types in the data frame
weatherStationsDataFrame.dtypes

Stn_Name     object
Lat         float64
Long        float64
Prov         object
Tm          float64
DwTm        float64
D           float64
Tx          float64
DwTx        float64
Tn          float64
DwTn        float64
S           float64
DwS         float64
S%N         float64
P           float64
DwP         float64
P%N         float64
S_G         float64
Pd          float64
BS          float64
DwBS        float64
BS%         float64
HDD         float64
CDD         float64
Stn_No       object
dtype: object

In [27]:
#Print Unique Station Names (turn our attention to Stn_Name) 
weatherStationsDataFrame.Stn_Name.unique()

array(['CHEMAINUS', 'COWICHAN LAKE FORESTRY', 'LAKE COWICHAN', ...,
       'SAGLEK', 'TUKIALIK BAY', 'WABUSH A'], dtype=object)

In [29]:
#Print top ten values in the data frame
weatherStationsDataFrame.head(10)

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD,Stn_No
0,CHEMAINUS,48.935,-123.742,BC,8.2,0.0,NaN,13.5,0.0,1.0,...,0.0,NaN,0.0,12.0,NaN,NaN,NaN,273.3,0.0,1011500
1,COWICHAN LAKE FORESTRY,48.824,-124.133,BC,7.0,0.0,3.0,15.0,0.0,-3.0,...,0.0,104.0,0.0,12.0,NaN,NaN,NaN,307.0,0.0,1012040
2,LAKE COWICHAN,48.829,-124.052,BC,6.8,13.0,2.8,16.0,9.0,-2.5,...,9.0,NaN,NaN,11.0,NaN,NaN,NaN,168.1,0.0,1012055
3,DISCOVERY ISLAND,48.425,-123.226,BC,NaN,NaN,NaN,12.5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1012475
4,DUNCAN KELVIN CREEK,48.735,-123.728,BC,7.7,2.0,3.4,14.5,2.0,-1.0,...,2.0,NaN,NaN,11.0,NaN,NaN,NaN,267.7,0.0,1012573
5,ESQUIMALT HARBOUR,48.432,-123.439,BC,8.8,0.0,NaN,13.1,0.0,1.9,...,8.0,NaN,NaN,12.0,NaN,NaN,NaN,258.6,0.0,1012710
6,GALIANO NORTH,48.985,-123.573,BC,8.9,7.0,NaN,13.5,7.0,2.0,...,7.0,NaN,0.0,10.0,NaN,NaN,NaN,191.7,0.0,10130MN
7,MALAHAT,48.575,-123.530,BC,7.2,1.0,NaN,12.7,1.0,2.2,...,10.0,NaN,NaN,12.0,NaN,NaN,NaN,290.8,0.0,1014820
8,METCHOSIN,48.374,-123.561,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,95.0,0.0,16.0,NaN,NaN,NaN,NaN,NaN,1015105
9,NORTH COWICHAN,48.824,-123.718,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,114.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,1015628

# Hi there